html, body {
  background-color: #343a40 !important;
  height: 100%;
}

header {
  background-color: #e6e6e6;
  min-height: 120px;
}

h1 {
  font-size: 3.5rem !important;
}

.btn-big {
  background-color: #e6e6e6 !important;
  font-size: 3rem !important;
  font-weight: 500 !important;
  min-width: 400px;
  min-height: 100px;

}

.btn-big:hover {
  background-color: #c3c3c3 !important;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}
